body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}

/*Jenn's Styles*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: black;
  margin-left: 15px;

}

.nav-links {
  display: flex;
  justify-content: space-between;
 
}

.nav-links a {
  margin-right: 10px;
  color: white;
  font-size: 1em;
  }

  .ui centered{
    padding-bottom: 15px;
  }

  .welcome-page h1{
    padding-top: 15px;
  }